<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Trivias
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <ion-progress-bar color="tertiary" value="0.5"></ion-progress-bar>
  <ion-card color="tertiary">
    <ion-card-content>
      <p>
        This is content, without any paragraph or header tags, within an
        ion-card-content element.
      </p>
    </ion-card-content>
  </ion-card>

  <ion-button shape="round" expand="block" color="tertiary"
    >Opción 1</ion-button
  >
  <ion-button shape="round" expand="block" color="tertiary"
    >Opción 2</ion-button
  >
  <ion-button shape="round" expand="block" color="tertiary"
    >Opción 3</ion-button
  >
</ion-content>
